# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Archivos de entorno
.env

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.swp