<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Permiso</title>
</head>
<body>

<h1>Eliminar Permiso</h1>

<p>
    ¿Seguro que deseas eliminar este permiso?
</p>

<p>
    {{ permission.grupo }} -
    {{ permission.modulo }} -
    {{ permission.permiso }}
</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit">
        Confirmar eliminación
    </button>
</form>

<a href="{% url 'acceso:permission_list' %}">
    Cancelar
</a>

</body>
</html>